body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-weight: lighter;
}

#root {
  height: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.content {
  display: flex;
  height: 100%;

  /* color: #937dc2; */
}

.app {
  width: 100%;
  height: 100%;
}

.header--section {
  display: flex;
  align-items: center;
  background-color: #c689c6;
  color: white;
  column-gap: 0.5em;
  padding-left: 0.5em;
}

.header--section i {
  font-size: 2.1em;
}

.side--bar {
  padding: 0 5em;
  font-weight: 20px;
  background-color: #eff5f597;
  /* background-color: #ffe6f7; */
}

h2 {
  font-weight: lighter;
}

/* Add a task section */

.task--input--section {
  display: flex;
  /* width: 100%; */
}

.add--section {
  text-align: center;
  padding: 2em;
  width: 100%;
}

.low--priority,
.medium--priority,
.high--priority {
  padding: 0.2em;
  font-size: smaller;
  /* font-weight: bolder; */
  margin-right: 0.3em;
}

.low--priority {
  border: 2px solid #29d71c;
}

.medium--priority {
  border: 2px solid yellow;
}

.high--priority {
  border: 2px solid red;
}

.add--section input {
  padding: 0.3em 0;
  margin-right: 2em;
  width: 50%;
}

.add--section button {
  padding: 0.6em 1.5em;
  border-radius: 8px;
  background-color: #c689c6;
  border: none;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

/* Notes design */

.note--line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.7em;
  padding-left: 1em;
  border-radius: 8px;
  width: 70%;
  margin: 1.2em auto;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.29);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.29);
}

.fa-square-check,
.fa-square {
  font-size: 1.4em;
  color: #29d71c;
}

i,
button {
  cursor: pointer;
}

.tasks--section {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
